<h1 class="house-title">Le Guilvinec</h1>
<div class="global">
    <div class="housepic">
        <!-- Slideshow container -->
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->


            <div class="mySlides fade">
                <div class="numbertext">1 / 10</div>
                <img src="./../assets/img/Guil/Guil2.jpeg" style="width:100%">
                {{!-- <div class="text">Caption Two</div> --}}
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 10</div>
                <img src="./../assets/img/Guil/Guil3.jpeg" style="width:100%">
                {{!-- <div class="text">Caption Three</div> --}}
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 10</div>
                <img src="./../assets/img/Guil/Guil4.jpeg" style="width:100%">
                {{!-- <div class="text">Caption Three</div> --}}
            </div>


            <div class="mySlides fade">
                <div class="numbertext">4 / 10</div>
                <img src="./../assets/img/Guil/Guil6.jpeg" style="width:100%">
                {{!-- <div class="text">Caption Three</div> --}}
            </div>

            <div class="mySlides fade">
                <div class="numbertext">5/ 10</div>
                <img src="./../assets/img/Guil/Guil6bis.jpeg" style="width:100%">
                {{!-- <div class="text">Caption Three</div> --}}
            </div>
            <div class="mySlides fade">
                <div class="numbertext">6 / 10</div>
                <img src="./../assets/img/Guil/Guil7.jpeg" style="width:100%">
                {{!-- <div class="text">Caption Three</div> --}}
            </div>

            <div class="mySlides fade">
                <div class="numbertext"> 7/ 10</div>
                <img src="./../assets/img/Guil/Guil7bis.jpeg" style="width:100%">
                {{!-- <div class="text">Caption Three</div> --}}
            </div>

            <div class="mySlides fade">
                <div class="numbertext"> 8/ 10</div>
                <img src="./../assets/img/Guil/Guil10.jpeg" style="width:100%">
                {{!-- <div class="text">Caption Three</div> --}}
            </div>
            <div class="mySlides fade">
                <div class="numbertext"> 9/ 10</div>
                <img src="./../assets/img/Guil/Guil11.jpeg" style="width:100%">
                {{!-- <div class="text">Caption Three</div> --}}
            </div>

            <div class="mySlides fade">
                <div class="numbertext"> 10/ 10</div>
                <img src="./../assets/img/Guil/Guil12.jpeg" style="width:100%">
                {{!-- <div class="text">Caption Three</div> --}}
            </div>



            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>
            <span class="dot" onclick="currentSlide(7)"></span>
            <span class="dot" onclick="currentSlide(8)"></span>
            <span class="dot" onclick="currentSlide(9)"></span>
            <span class="dot" onclick="currentSlide(10)"></span>

        </div>
    </div>
    <div class="right-side">

        <div class="description">
            <span class="surface desc-item">
                <i class="fas fa-home"></i>
                <p>Size: 120m²</p>
            </span>
            <span class="beds desc-item">
                <i class="fas fa-user-friends"></i>
                <p>People: 6</p>
            </span>
            <span class="rooms desc-item">
                <i class="fas fa-bed"></i>
                <p>Bedrooms: 3</p>
            </span>
            <span class="bathroom desc-item">
                <i class="fas fa-shower"></i>
                <p>Bathrooms: 2</p>
            </span>
            <span class="toilets desc-item">
                <i class="fas fa-toilet"></i>
                <p>Toilets: 2</p>
            </span>
        </div>
        <div class="txt-desc">
            <p> C'est une ancienne maison de pêcheur que nous avons rénové pour vous (juillet 2017)! </p>
            <p>
                Située
                au
                bord
                de la plage, elle est conçue pour passer des vacances inoubliables...Un joli mur de pierres la sépare de
                la
                plage de Men Meur, vous protégeant des regards. De sa terrasse, vous verrez les bateaux de pêche qui
                vers 17
                heures rentrent au port vendre leur poisson. Peut-être apercevrez vous des dauphins qui parfois, les
                accompagnent. De toutes les fenêtres, l'océan vous attire, alors pourquoi pas aller vous baigner, le
                soleil
                a
                réchauffé les doux rochers et l'eau est bonne.</p>
            <p>On est dimanche matin , il y a un grand marché dans la rue principale et vous irez à pied, puisque c'est
                à
                côté.
                Mais vous pourrez aussi chercher vos langoustines directement sur le port, vous êtes quand même juste au
                bon
                endroit !
            </p>
            <p> De la rue, vous ne verrez pas grand chose de la maison, il y a un grand portail en bois que vous
                ouvrirez
                pour
                rentrer dans la propriété. Une fois la porte d'entrée ouverte, vous serez les bienvenus dans un grand
                salon
                ouvert sur l'océan grace à ses grandes baies vitrées. Un poêle à granules saura vous réchauffer si vous
                venez
                l'hiver admirer les tempêtes ; vous pourrez faire des bons repas dans la cuisine en profitant de tout le
                monde
                puisqu'elle est ouverte sur le salon. Un petit couloir vous mènera à la chambre (qui dispose d'un lit de
                160
                électrique), ou à la salle de bains (avec wc mais il y en a un autre à l'étage) ou encore à la mezzanine
                où
                deux
                lits jumeaux assurent le couchage des enfants ou des grands. Une salle de douche est cachée derrière une
                porte
                donnant sur le salon et ,maintenant , montez voir la grande chambre de l'étage qui donne sur une
                terrasse de
                folie ! le spectacle de l'océan vous attend !</p>



        </div>


    </div>
</div>