<div class="main">
    <div class="main-grid">
        <div class="txt-home">
            <h2>Spend your holidays by the sea</h2>
            <h3>Discover our beautiful houses right next to the ocean and make it your home for the week</h3>
        </div>
        <span class="img-sea-view left"></span>
        <span class="img-sea-view right"></span>
        <span class="contact"><button class="btn-contact"><a href="">Contact us</a></button></span>
        
        <span class="title ploz">
            <a href="./ploz">
                <h3>Plozevet</h3>
            </a>
        </span>
        <span class="title guil">
            <a href="/guil">
                <h3>Le Guilvinec</h3>
            </a>
        </span>
    </div>
</div>