<h1 class="house-title">Plozevet</h1>
<div class="global">
    <div class="housepic">
        <!-- Slideshow container -->
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->


            <div class="mySlides fade">
                <div class="numbertext">1/6</div>
                <img src="./../assets/img/Ploz/Ploz1.jpg" style="width:100%">
                {{!-- <div class="text">Caption Two</div> --}}
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2/6</div>
                <img src="./../assets/img/Ploz/Ploz2.jpg" style="width:100%">
                {{!-- <div class="text">Caption Three</div> --}}
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3/6</div>
                <img src="./../assets/img/Ploz/Ploz3.jpg" style="width:100%">
                {{!-- <div class="text">Caption Three</div> --}}
            </div>


            <div class="mySlides fade">
                <div class="numbertext">4/6</div>
                <img src="./../assets/img/Ploz/Ploz4.jpg" style="width:100%">
                {{!-- <div class="text">Caption Three</div> --}}
            </div>

            <div class="mySlides fade">
                <div class="numbertext">5/6</div>
                <img src="./../assets/img/Ploz/Ploz5.jpg" style="width:100%">
                {{!-- <div class="text">Caption Three</div> --}}
            </div>
            <div class="mySlides fade">
                <div class="numbertext">6/6</div>
                <img src="./../assets/img/Ploz/Ploz6.jpg" style="width:100%">
                {{!-- <div class="text">Caption Three</div> --}}
            </div>


            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>


        </div>
    </div>
    <div class="right-side">

        <div class="description">
            <span class="surface desc-item">
                <i class="fas fa-home"></i>
                <p>Size: 90m²</p>
            </span>
            <span class="beds desc-item">
                <i class="fas fa-user-friends"></i>
                <p>People: 6</p>
            </span>
            <span class="rooms desc-item">
                <i class="fas fa-bed"></i>
                <p>Bedrooms: 3</p>
            </span>
            <span class="bathroom desc-item">
                <i class="fas fa-shower"></i>
                <p>Bathrooms: 1</p>
            </span>
            <span class="toilets desc-item">
                <i class="fas fa-toilet"></i>
                <p>Toilets: 2</p>
            </span>
        </div>
        <div class="txt-desc">
            <p>
                Conçue pour admirer l'océan, cette villa dispose de grandes baies donnant sur le jardin. Au bout de ce
                jardin, une petite crique pour aller vous baigner ou bien pêcher. Le soir , sur la terrasse, regardez
                les
                petits bateaux de pêche rentrer au port et admirez le coucher de soleil sur la mer...le matin, ouvrez
                les
                volets et recouchez vous car regarder la mer de votre lit est un moment unique et délicieux ; le pain
                frais
                que vous irez chercher à vélo peut encore attendre...

            </p>
            <p>
                Profitez des belles plages de sable qui sont à proximité , faites de longues promenades le long de la
                côte
                et revenez à la maison par les chemins de campagne...vous apprécierez votre retour en buvant un verre
                sur la
                terrasse ou devant la cheminée si c'est en hiver.

            </p>
            <p>
                Au rez de chaussée de la maison vous trouverez l'entrée, le cellier où sont les vélos, la machine à
                laver et
                le congélateur. Vous entrez ensuite dans la grande pièce principale qui vous offre une vue imprenable
                sur la
                mer. la cuisine est aménagée, le séjour dispose d'une grande table pour inviter aussi les amis à diner
                et le
                salon avec sa cheminée dispose d'une télévision et d'un lecteur dvd.

            </p>
            <p>
                A l'étage, une grande chambre avec un lit double et la vue sur l'océan, une chambre avec deux lits
                superposés avec toujours la vue , une autre chambre qui donne elle sur la rue (mais qui est trés calme
                aussi) et la salle de douche.
            </p>
            <p>
                A l'exterieur, une belle terrasse en bois avec sa table et ses chaises, sans oublier les transats .
            </p>

            <p>
                Le jardin est clos excepté de la crique et de l'océan et c'est tant mieux car ainsi rien ne gêne votre
                regard...
            </p>


        </div>


    </div>
</div>